name: subsplit

on:
  push:
    tags:
      - '*'
    branches:
      - 'master'

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  subsplit:
    name: Split helix/${{ matrix.package.split_repository }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        package:
          # -------- Contracts --------
          - local_path: 'contracts/http-cookie'
            split_repository: 'http-cookie-contracts'
          - local_path: 'contracts/http-header'
            split_repository: 'http-header-contracts'
          - local_path: 'contracts/http-method'
            split_repository: 'http-method-contracts'
          - local_path: 'contracts/http-middleware'
            split_repository: 'http-middleware-contracts'
          - local_path: 'contracts/http-status-code'
            split_repository: 'http-status-code-contracts'
          - local_path: 'contracts/router'
            split_repository: 'router-contracts'
          # -------- Packages --------
          - local_path: 'http'
            split_repository: 'http'
          - local_path: 'http-cookie'
            split_repository: 'http-cookie'
          - local_path: 'http-header'
            split_repository: 'http-header'
          - local_path: 'http-method'
            split_repository: 'http-method'
          - local_path: 'http-status-code'
            split_repository: 'http-status-code'
          - local_path: 'http-middleware'
            split_repository: 'http-middleware'
          - local_path: 'router'
            split_repository: 'router'
          - local_path: 'router-generator'
            split_repository: 'router-generator'
    steps:
      - name: Set Git To Use LF
        run: |
          git config --global core.autocrlf false
          git config --global core.eol lf
          git config --global --add safe.directory '*'
      - uses: actions/checkout@v3.3.0
      # no tag
      - if: "!startsWith(github.ref, 'refs/tags/')"
        name: Monorepo Split of ${{ matrix.package.split_repository }}
        uses: symplify/github-action-monorepo-split@2.1
        with:
          package_directory: 'libs/${{ matrix.package.local_path }}'
          repository_organization: 'helix-php'
          repository_name: '${{ matrix.package.split_repository }}'
          user_name: "SerafimArts"
          user_email: "nesk@xakep.ru"
          branch: "master"
      # with tag
      - if: "startsWith(github.ref, 'refs/tags/')"
        name: Monorepo Tagged Split of ${{ matrix.package }}
        uses: symplify/github-action-monorepo-split@2.1
        with:
          tag: ${GITHUB_REF#refs/tags/}
          package_directory: 'libs/${{ matrix.package.local_path }}'
          repository_organization: 'helix-php'
          repository_name: '${{ matrix.package.split_repository }}'
          user_name: "SerafimArts"
          user_email: "nesk@xakep.ru"
          branch: "master"
